/*body{
	background-color: #00a299;
}*/

.imgWelcome{
        background-image: url('/images/vint.jpg');
        //background-repeat: no-repeat;
        //background-size: 1000px 1000px;
}

.bienvenido{
	font-feature-settings: 'liga';
    text-rendering: auto;
    visibility: visible;
    direction: ltr;
    font-style: normal;
    letter-spacing: 0px;
    text-indent: 0px;
    text-transform: none;
    text-align: center;
    font-family: questrial, sans-serif;
    font-weight: 400;
    font-size:3.5rem; //ok4
    color: #00A299;
    line-height: 51px;
}

.menuVint{
    font-feature-settings: 'liga';
    text-rendering: auto;
    visibility: visible;
    color: #000000;
    direction: ltr;
    font-style: normal;
    letter-spacing: 0px;
    text-indent: 0px;
    text-transform: none;
    display: block;
    max-height: 1000000px;
    font-size: 2rem;
    text-align: justify;
    line-height: 30px;
    font-family: questrial, sans-serif;
    font-weight: 400;
}

.imgLogo{
	background-color: #02b1aa;
	color:white;
}

.imgLogo2{
	background-color: #02b1aa;
	color:white;
}

 a:link#iconoPestana {
    color: white;
    font-size: 1.5rem;

}
a:visited#iconoPestana {
    color: white;
    font-size: 1.5rem;
}
a:hotpink#iconoPestana {
    color: #f00;
    font-size: 1.5rem;
}
a:blue#iconoPestana {
    color: #f00;
    font-size: 1.5rem;
}

/* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: darkblue;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

.border {
    /*display: inline-block;*/
    border:solid .5px lightgray;
    padding: 4px;
    /*background-color: #DCDCDC;*/
 }

.borderCalendario {
    /*display: inline-block;*/
    border:solid .5px black;
    padding: 1px;
    /*background-color: #DCDCDC;*/
 }

.fondoCalendario{
    font-size: 1.5rem;
}

.fondoCalendarioCerrar, .dia_1{
    color:black;
    background-color:Aquamarine;
    border-color:white;
    font-size: 1.5rem;
}

.fondoCalendarioAbrir, .dia_0{
    color:Black;
    background-color:lightgray;
    border-color:white;
    font-size: 1.5rem;
}

.btn-mes{
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.1rem;
    /*border-color:white;*/
}

 .btn-cerrar,.btn-abrir,.btn-mesDia{
    color:black;
    /*background-color:#227dc7;
    border-color:#007bff*/
    background-color:transparent;
    /*background-color:Aquamarine;
    border-color:white;
    padding: 4px;
    margin: 4px;
    width:100%;*/
    font-size: 1.5rem;
    margin: 0px;
    padding: 6px;
}

.btn-actualizaServ{
    color:black;
    background-color:transparent;
    font-size: 2rem;
    margin: 0px;
    padding: 6px;
}

.letraNormal{
    color:black;
    font-size: 1.5rem;
}

.letraRem{
    font-size: 1.5rem;
}

.comboNormal{
    length: 100px;
}

.btn-filtro{
    color:black;
    background-color:lightgray;
    border-color:white;
    padding: 2px;
    margin: 3px;
    border-style: solid;
}

.btn-filtroSelected{
    color:black;
    background-color:darkgray;
    border-color:white;
    padding: 2px;
    margin: 3px;
    border-style: solid;
}

.btn-pagInicio{
    border-color:blue;
    padding: 4px;
    margin: 2px;
    font-size: 1.5rem;
}

.btn-crear-mes{
    color:black;
    background-color:lightgray;
    font-size: 1.1rem;
    /*border-color:white;*/
}




.btn-sucPermitida{
    color:black;
    background-color:Lime;
    border-color:Lime;
    padding: 1px;

}

 .btn-dia{
    color:black;
    /*background-color:#f0b74b;
    border-color:white;
    border-color:#f0b74b;
    padding: 6px;
    margin: 4px;
    width:100%;*/
    font-size: 1rem;
    margin: 0px;
    padding: 10px;
}

.btn-sucNoPermitida{
    color:Black;
    background-color:lightgray;
    border-color:lightgray;
    padding: 1px;
}

 .btn-cerrarH{
    color:black;
    /*background-color:#227dc7;
    border-color:#007bff*/
    background-color:SkyBlue;
    border-color:SkyBlue;
    font-size: 1.5rem;
    padding: 1.5px;
}

.btn-abrirH{
    color:Black;
    background-color:lightgray;
    border-color:lightgray;
    font-size:  1.5rem;
    padding: 1.5px;
}

.btn-horaDisponible{
    color:black;
    background-color:#f0b74b;
    font-size: 1.2rem;
    padding: 10px;
}

.btn-agendar{
    color:black;
    background-color:#f0b74b;
    font-size: 1.5rem;
    padding: 1.5px;
}

.btn-horaNoDisponible{
    color:Black;
    background-color:lightgray;
    font-size: 1.2rem;
    padding: 10px;
}

.btn-condiciones{
    color:Black;
    background-color:lightgray;
    font-size: 2rem;
    padding: 10px;
}

.mes_Abierto{
    color:black;
    background-color: #f0b74b;
    border-color:white;
    font-size: 1.5rem;
    padding: 4px;
    margin: 0px;
    border-style: groove;
}

.mes_Cerrado{
    color:black;
    background-color: lightgray;
    border-color:white;
    font-size: 1.5rem;
    padding: 4px;
    margin: 0px;
    border-style: groove;
}

.mes_Inactivo{
    color:black;
    background-color: #72d2ec;
    border-color:white;
    font-size: 1.5rem;
    padding: 4px;
    margin: 0px;
    border-style: groove;
}

.mes_activo{
    color:white;
    background-color: #db52a5;
    font-size: 1.5rem;
    padding: 4px;
    margin: 0px;
    border-color:white;
    border-style: groove;
}

.mes_disponible{
    color:black;
    background-color: #f0b74b;
    font-size: 1.5rem;
    padding: 4px;
    margin: 0px;
    border-color:white;
    border-style: groove;
}

.mes_no_disponible{
    color:black;
    background-color: lightgray;
    font-size: 1.5rem;
    padding: 4px;
    margin: 0px;
    border-color:white;
    border-style: groove;
}

.mes_Nuevo{
    color:black;
    background-color: white;
    font-size: 1.5rem;
    padding: 4px;
    margin: 0px;
    border-color:white;
    border-style: groove;
}

.dia_estatus{
    padding: 4px;
    margin: 0px;
    border-style: groove;
}

.dia_Abierto{
    color:black;
    background-color:#f0b74b;
    border-color:white;
    font-size: 1.5rem;
    padding: 4px;
    margin: 0px;
    border-style: groove;
}

.dia_activo{
    color:white;
    background-color:#db52a5 ;
    border-color:white;
    font-size: 1.5rem;
    padding: 4px;
    margin: 0px;
    border-style: groove;
}

.dia_Cerrado{
    color:black;
    background-color: lightgray;
    border-color:white;
    font-size: 1.5rem;
    padding: 4px;
    margin: 0px;
    border-style: groove;
}

.estatusCita_Agendada{
    color:black;
    background-color:SkyBlue;
    border-color:white;
    font-size: 1.5rem;
    padding: 4px;
    margin: 0px;
    border-style: groove;
}

.estatusCita_Cancelada{
    color:black;
    background-color:white;
    border-color:white;
    font-size: 1.5rem;
    padding: 4px;
    margin: 0px;
    border-style: groove;
}

.estatusCita_Tomada{
    color:white;
    background-color:#db52a5;
    border-color:white;
    font-size: 1.5rem;
    padding: 4px;
    margin: 0px;
    border-style: groove;
}

.estatusCita_Perdida{
    color:white;
    background-color:darkgray;
    border-color:white;
    font-size: 1.5rem;
    padding: 4px;
    margin: 0px;
    border-style: groove;
}

.estatusCita_VTomada{
    color:black;
    background-color:lightgray;
    border-color:white;
    font-size: 1.5rem;
    padding: 4px;
    margin: 0px;
    border-style: groove;
}

.estatusCita_Valoracion{
    color:black;
    background-color:SkyBlue;
    border-color:white;
    font-size: 1.5rem;
    padding: 4px;
    margin: 0px;
    border-style: groove;
}

.pestañasCliente{
    color:white;
    background-color:#02b1aa;
    border-color:white;
    font-size: 1.5rem;
    padding: 2px;
    margin: 0px;
    border-style: groove;
}

#pestañasClienteLetra a:hover{
  color: white;
}

.estatusServicio_Inactivo{
    background-color:lightgray;
}

.estatusServicio_Pagado{
    background-color:#db52a5;
}

.estatusServicio_Iniciado{
    background-color:SkyBlue;
}

.estatusServicio_Terminado{
    background-color:white;
}

.estatusServicio_Suspendido{
    background-color:darkgray;
}

.vendas_1{
    background-color:#02b1aa;
    color:white;
}

.vendas_0{
    background-color:white;
}

.iconoCita {
    color: #db52a5;
}

.tituloTablaCitas{
    border-color: #02b1aa;
    background-color: #02b1aa;
    color: white;
    font-size: 1.5rem;
}
/*rosa #db52a5*/

.navbar-brand img {
  max-height: 100%;
}

.sidenav {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 4;
  top: 50px;
  right: 0;
  background-color: #02b1aa;
  overflow-x: scroll;
  transition: .5s;
  padding-top: 10px;
}

.letraMenu{
    padding: 2px 2px 2px 2px;
    font-size:1.5rem; //ok4
    color: #f1f1f1;
    display: block;
    text-align: left;
}


.sidenav a {
  padding: 2px 2px 2px 2px;
  text-decoration: none;,
  font-size:1.5rem;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover {
  color: #818181;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

 .hrNoSpace{
    padding: 0px;
    margin: 0px;
  }

  .form-group.required.control-label:before{
   color: red;
   content: "*";
   position: absolute;
   margin-left: -10px;
}

.ocultar{
    display: none;
}
