/*body{
	background-color: #00a299;
}*/

.imgWelcome{
        background-image: url('/images/vint.jpg');
        //background-repeat: no-repeat;
        //background-size: 1000px 1000px;
}

.imgLogo{
	background-color: #00a299;
	color:white;
}

#iconoCita a:link {
    color: blue;
}
#iconoCita a:visited {
    color: blue;
}
#iconoCita a:hotpink {
    color: #f00;
}
#iconoCita a:blue {
    color: #f00;
}

/* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: lightblue;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

.border {
    /*display: inline-block;*/
    border:solid .5px darkblue;
    padding: 4px;
    /*background-color: #DCDCDC;*/
 }

.btn-mes{
    background-color: rgba(0, 0, 0, 0);
    /*border-color:white;*/
}

 .btn-cerrar{
    color:black;
    /*background-color:#227dc7;
    border-color:#007bff*/
    background-color:Aquamarine;
    border-color:Aquamarine;

}

.btn-filtro{
    color:black;
    background-color:gray;
    border-color:gray;
    padding: 2px;
}

.btn-abrir{
    color:Black;
    background-color:lightgray;
    border-color:lightgray;
}

.btn-sucPermitida{
    color:black;
    background-color:Lime;
    border-color:Lime;
    padding: 1px;

}

.btn-sucNoPermitida{
    color:Black;
    background-color:lightgray;
    border-color:lightgray;
    padding: 1px;
}

 .btn-cerrarH{
    color:black;
    /*background-color:#227dc7;
    border-color:#007bff*/
    background-color:SkyBlue;
    border-color:SkyBlue;
    padding: 1px;

}

.btn-abrirH{
    color:Black;
    background-color:lightgray;
    border-color:lightgray;
    padding: 1px;
}

.mes_Abierto{
    color:black;
    background-color: SkyBlue;
    border-color:white;
    padding: 4px;
    margin: 0px;
    border-style: groove;
}

.mes_Cerrado{
    color:black;
    background-color: lightgray;
    border-color:white;
    padding: 4px;
    margin: 0px;
    border-style: groove;
}

.mes_Inactivo{
    color:white;
    background-color: Black;
    border-color:white;
    padding: 4px;
    margin: 0px;
    border-style: groove;
}

.mes_activo{
    color:white;
    background-color: Blue;
    border-color:white;
    padding: 4px;
    margin: 0px;
    border-style: groove;
}

.mes_disponible{
    color:black;
    background-color: SkyBlue;
    border-color:white;
    padding: 4px;
    margin: 0px;
    border-style: groove;
}

.mes_no_disponible{
    color:black;
    background-color: lightgray;
    border-color:white;
    padding: 4px;
    margin: 0px;
    border-style: groove;
}

.mes_Nuevo{
    color:black;
    background-color: white;
    border-color:white;
    padding: 4px;
    margin: 0px;
    border-style: groove;
}



.dia_Abierto{
    color:black;
    background-color:SkyBlue;
    border-color:white;
    padding: 4px;
    margin: 0px;
    border-style: groove;
}

.dia_activo{
    color:white;
    background-color: Blue;
    border-color:white;
    padding: 4px;
    margin: 0px;
    border-style: groove;
}

.dia_Cerrado{
    color:black;
    background-color: lightgray;
    border-color:white;
    padding: 4px;
    margin: 0px;
    border-style: groove;
}

.estatusCita_Agendada{
    color:black;
    background-color:SkyBlue;
    border-color:white;
    padding: 4px;
    margin: 0px;
    border-style: groove;
}

.estatusCita_Cancelada{
    color:black;
    background-color:white;
    border-color:white;
    padding: 4px;
    margin: 0px;
    border-style: groove;
}

.estatusCita_Tomada{
    color:black;
    background-color:lightgray;
    border-color:white;
    padding: 4px;
    margin: 0px;
    border-style: groove;
}

.estatusCita_Perdida{
    color:white;
    background-color:Black;
    border-color:white;
    padding: 4px;
    margin: 0px;
    border-style: groove;
}
